.chat-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.users-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    border-right: 1px solid #d1d1d1;
}

.user-profile {
    display: flex;
    flex-direction: column;
    height: 150px;
    border-bottom: 1px solid #d1d1d1;
    background-color: #ebebeb;
    
}

.user-profile-images {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    align-items: center;
}

.user-photo {
    width: 60px;
}

.logout-photo {
    height: 30px;
    cursor: pointer;
}

.logout-photo:hover {
    opacity: 0.5;
}

.user-profile-search {
    display: flex;
    justify-content: center;
    margin: 0px 15px;
}

.user-search-field {
    border: none;
    outline: none;
    padding: 5px 0px 5px 30px;
    font-size: 16px;
    width: 90%;
    border-radius: 30px;
    background: url("../../img/Search-icon.png") no-repeat 5px 1px;
    background-size: 25px;
    background-color: white;
}

.online-users {
    padding-left: 20px;
    overflow-y: auto;
}

.oline-users-header {
    color: rgb(0, 153, 255);
    font-weight: 400;
    margin: 40px 0px;
}

.online-user {
    height: 100px;
    border-bottom: 1px solid #dedede;
}

.chat {
    width: 100%;
}

.chat-true {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-false {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-true-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #dedede;
}

.chat-header-user-image {
    width: 80px;
    margin-right: 20px;
}

.chat-header-user-name {
    font-weight: bold;
    font-size: 20px;
}

.chat-true-input {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: auto;
}

.chat-true-message {
    padding: 20px;
}

.input-message {
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 35px;
    width: 80%;
}

.button-send-message {
    border: none;
    outline: none;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.button-send-message:hover {
    opacity: 0.7;
}

.img-send-message {
    width: 40px;
}